@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f2f2f2;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
}